body,html {
    background-color: rgb(12, 46, 43);
    font-family: lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
main {
    color: white;
    max-width: 1000px;
    margin: 20px auto;
    background: url("../images/woodtexture.png");
    border: 2px black solid;
    padding: 20px;
}
h1,h2 {
    text-align:center;
}
.container {
    display: flex;
}
.container div {
    flex-grow: 1;
    padding: 0 5px;
}
a {
    color: white;
    font-weight: bold;
}
main img {
    border: 2px black solid;
}

/* header css */
header {
    display: flex;
    color: white;
    margin: 0;
    background: url("../images/woodtexture.png");
    border-bottom: 2px black solid;
}
header div {
    flex-grow: 1;
}
.logo-box, .title-box, .nav-box {
    text-align: center;
    margin: auto;
}
.links a {
    border: 2px solid black;
    background: linear-gradient(white,brown);
    border-radius: 5px;
    padding: 5px;
}
.title-box {
    font-size: 50px;
}
/* header css */