/* Marius' css */

body{
    color: white; }

input{
    background-color: green; }

input:focus{
    background-color: #fff;
    color: #000; }

textarea{
    background-color: green;
    border: 2px solid #000; }

textarea:focus{
    background-color: #fff;
    color: #000; }

label{
    background-color: gray;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 2px; }

/* p can be deleted, use main css styling */
p{
    border-bottom: 1px solid #000; }

select{
    background-color: green;
    border: 2px solid #000; }

select:focus{
    background-color: #fff;
    color: #000; }

legend{
    background-color: gray;
    border: 2px solid #000;
    color: #000;
    padding: 2px 4px; }

fieldset{
    background-image: url("../images/woodtexture.png");
    border: 2px solid #000; }
