*{
    cursor:none;
}


/* text box tree texture.
  background images rgb, 12, 46 ,43.   */

body.sightingspage{
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    overflow-x: hidden;

}


.container {
    display: flex;
}
.container div {
    flex-grow: 1;
    padding: 0 5px;
}
a {
    color: white;
    font-weight: bold;
}
img {
    border: 2px black solid;
}
.nav-box {
    text-align: right;
}
.nav-box span {
    border: 2px solid black;
    background: linear-gradient(white,brown);
    padding: 5px;
    border-radius: 5px;
}



header{
    background-color:rgb(34, 31, 31);
    color: white;
    padding: 20px;
}

.pimg1{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.pimg1{
    background-attachment: fixed;
}

.pimg2{
    background-attachment: scroll;
}



.pimg1{
    background-image: url("../images/santa\ flying\ secret.png");
    min-height: 550px;
}

.pimg2{
    background-color: rgb(12, 46, 43);
    background-image: url("../images/TKQO23SKXQI6FGJAIRKFY674BQ.jpg"), url("../images/santa-Krumpus-collage.jpg"), url("../images/christmas-cthulhu-presents-santa-claus-wallpaper-preview.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: left, right, center, center;
    position: relative;
    background-size: 500px, 500px, 500px;
}

.pimg3{
    background-color: rgb(12, 46, 43);
    background-image: url("../images/6f196db4bc886c41551d987d2b39e37e.jpg"), url("../images/scary-santa-02.jpg"), url("../images/scary-santa-13.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: right, left, center, center;
   
  
}



.section1, .section2, .section3{
    text-align: center;
    padding: 50px 80px;
    background-image: url("../images/woodtexture.png");
    color: white;

}



.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase ;

}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}



.ptext .border.trans{
background-color: transparent;
mix-blend-mode: difference;
}



footer{
    background-color: rgb(34, 31, 31);
    color: white;
    text-align: center;
}


header{
    background-image: url("../images/woodtexture.png");
    border: 1px solid black;
}

/* #mainbox{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
}

.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}

.sidemenu a:hover{
    color: white;
}

.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;

} */

.cursor{
    position: absolute;
    left: 0;
    top: 0;
    
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;

}

.cursor::after, .cursor::before{
    content:"" ;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;

}

.cursor::before{
    background-color: white;
    transform: translate(-50%, -50%) scale(3);
}

.cursor.click::before{
    animation: click 1s ease-in-out forwards;
}

@keyframes click{
    0%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}




@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

